.self {
  width: 12%;
  background: #52c41a;
}

.self:hover {
  background: #3d9710 !important;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
}

.deleteIcon {
  font-size: 12px;
  color: #666;
  padding: 6px 6px;
  border-radius: 6px;
  background: transparent;
  transition: all 0.2s ease;
}

.deleteIcon:hover {
  color: red;
  background: #fff1f0;
}
